.btnGrid{
    margin-bottom: 3px;
    margin-right: 3px;
    margin-top: 3px;
    margin-left: 3px;
    height: 75px;
    width: 75px;
    padding: 6px;
    border-radius: 0;
}

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 270px;
  /*whatever width you want*/
}

.inputG{
  margin-bottom: 0px!important;
}

.playerRow{
  margin-bottom: 35px!important;
}

.rightP{
  margin-right: 10px;
}

.usernameInput{
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
  
}

#loginModal{
  height: 90%;
  width: 90%;
}